/*-----------------------------------
  Masthead + Header
-------------------------------------*/
#masthead {
    background-color: #000;
    height: 45px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;

}

#header {
    height: 42px;
    background-color: #000;
    text-align: center;
    width: 100%;


}

#header h3{
    font-size: 20px;
    margin-left: 100px;  
    color:#fff;
}

#header h1 span {
    color: #BA003F;
}

#header h2 {
    color:#40404B;
    font-size: 20px;
    float: left;
    line-height: 42px;
    margin-left: 50px;  
}

/*-----------------------------------
 Horizontal menu after the header
-------------------------------------*/

#menu_type_incident{
    background-image: url(../images/img-header.png);
    height: 40px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 42px;
    width: 1100px;
    z-index: 7;
}

#ul_menu_type_incident{
    background-color: #292929;
    color: #fff;
    float: left;
    height: 40px;
    line-height: 40px;
    width: 959px;  
}

#ul_menu_type_incident li { 
    display: block;
    float: left;
}

#ul_menu_type_incident li a {
    background-color: #292929;
    color: #fff;
    display: block;
    height: 40px;
    width: 137px;
    transition-duration:1s;
    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
}

#ul_menu_type_incident li a:hover {
    background-color: #bbb;
    color: #005C9C;
    font-weight: bold;
}

#ul_menu_type_incident li a.active {
    background-color: #bbb;
    color: #005C9C;
    font-weight: bold;
}


/*-----------------------------------
Button  to show block,  statistic for month 
-------------------------------------*/

#arrow_show_block {  
    background-image: url(../images/estatistic.png);
    background-position:center;
    background-repeat: no-repeat;
    float: left; 
    height: 40px;
    width: 70px; 
}


#arrow_show_block a {
    display: block;
    font-size: 0px;
    height: 40px;
    width: 70px;
}

/*-----------------------------------
Button  to show block,  about  the definition of the incident  criminal
-------------------------------------*/

#arrow_block_inf {
    background-image:  url(../images/information.png);
    background-position:center;
    background-repeat: no-repeat;
    display: block;
    float: left; 
    height: 40px; 
    width: 70px; 
}

#arrow_block_inf a {
    display: block;
    font-size: 0px;
    height: 40px;
    width: 70px;  
}

/*-----------------------------------
Block to show  statistic for month
-------------------------------------*/

.statistic_by_month{  
    background: #fff;
    border: 1px solid #7F8A8C;
    display: none;
    height:300px;  
    left: 0px;
    margin: 0 auto;
    position: absolute;
    right: 0px;
    top: 82px;
    width: 1100px;
    z-index: 6;
    -moz-box-shadow: 0 0 2px 2px #ddd;
    -webkit-box-shadow: 0 0 2px 2px#ddd;
    box-shadow: 0 0 2px 2px #ddd;
}


/*-----------------------------------
Close block  that show graphics line  by month
-------------------------------------*/

#close_block_stac{  
    left: 50%;
    margin-left: 520px;
    position: absolute;
    top: 90px;   
    z-index: 999;

}
/*-----------------------------------
Block  to close block graphics line  by month,  or block definition about  of the incidents  criminals
-------------------------------------*/

.close_block{
    background-image: url(../images/close.png);
    display: none;
    height: 20px;    
    width: 19px;
}

.close_block a{
    display: block;
    font-size: 0px;
    height: 20px;    
    width: 19px
}

/*-----------------------------------
Block for information about definition  of the incidents  criminals
-------------------------------------*/

.block_inf_type{
    background: #fff;
    border: 1px solid #7F8A8C;
    display: none;
    height:300px;  
    left: 0px;
    margin: 0 auto;
    position: absolute;
    right: 0px;
    top: 82px;
    width: 1100px;
    z-index: 6;
    -moz-box-shadow: 0 0 2px 2px #ddd;
    -webkit-box-shadow: 0 0 2px 2px#ddd;
    box-shadow: 0 0 2px 2px #ddd;
}

.block_inf_type h3 {
    color: #005C9C;
    margin-bottom: 1px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 1px;
    font-size: 15px;
}


.block_inf_type p { 
    color: #282828;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 22px;
    padding: 1px 35px;
    text-align: justify;
}

.for_colum{
    height: 300px;
    width: 550px;
    float: left;
}



/*-----------------------------------
Close block  that show definition about  of the incidents  criminals
-------------------------------------*/

#close_block_inf{  
    left: 50%;
    margin-left: 520px;
    position: absolute;
    top: 90px;   
    z-index: 999; 
}

/*-----------------------------------
Map
-------------------------------------*/

#map {
    background-color: #000;
    height: 615px;
    position:absolute; 
    top:45px; 
    width:100%; 
}

/*-----------------------------------
loading gif
-------------------------------------*/

.loading {
    position: relative;
}

.loading:after {
    background: url(../images/ajax-loader.gif) no-repeat;
    content: "Cargando...";
    color: #666;
    left: 50%;  
    height: 16px;
    line-height: 16px;
    margin-top: -8px;
    margin-left: -40px;
    position: absolute;
    font-size: 12px;
    top: 50%; 
    text-indent: 26px;
    width: 80px;
}

#map.loading:after {
    background-color: #333;
    background-color: rgba(0,0,0,0.75);
    background-image: url(../images/ajax-loader-rev.gif);
    color: #fff;
    padding: 20px;
    background-position: 20px 50%;
    border-radius: 10px;
    z-index: 999999;
    position: absolute;
}



/*-----------------------------------
 Horizontal menu after the map or below the map 
-------------------------------------*/

#menu_month {
    background:#ddd;
    border-bottom: 5px solid #BA003F;
    border-top: 1px solid #7F8A8C;
    height: 40px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 680px;
    z-index: 7;
}

#ul_menu_month {
    background-color: #ddd;
    color: #fff;
    height: 40px;
    line-height: 42px;
    width: 1100px;  
}

#ul_menu_month li { 
    display: block;
    float: left;
}

#ul_menu_month li a {
    background-color: #ddd;
    color: #2E3546;
    display: block;    
    height: 40px;
    width: auto;  
    padding-left: 10px;
    padding-right: 10px;
    transition-duration:1s;
    -moz-transition-duration:1s;
    -webkit-transition-duration:1s;
    -o-transition-duration:1s;
}

#ul_menu_month li a:hover {
    background-color: #171717;
    color:#005C9C;
    font-weight: bold;

}

#ul_menu_month li a.active {
    background-color: #171717;
    color: #005C9C;
    font-weight: bold;
}


/*-----------------------------------
Middle content after  the menu about months
-------------------------------------*/

#middle_content {

    height : auto;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 670px;
    width: 98%; 
    z-index: 6;
    
}
/*
#middle_content a {
    color: #005C9C;
}

.middle_content .contributor{
    position:absolute;
    bottom:-50px;
    left:50%;
    color:#fff;
    font-size: 11px;
}*/
/*-----------------------------------
Block to show  description about  incident . "Incidentes Delictivos en Ayacucho"
-------------------------------------*/
#block_text_desription {
    background-color: #ECECEC;
    position: absolute;
    top: 55px;
    left: 2px;
    float: left;
    height: 600px; 
    width: 300px;
    -moz-box-shadow: 0 0 3px 3px #ddd;
    -webkit-box-shadow: 0 0 3px 3px#ddd;
    box-shadow: 0 0 3px 3px #ddd;
    opacity: 0.8;
    font-size:14px;
}

#block_text_desription h3 {
    color: #005C9C;
    margin: 5px 3px 3px 3px;
}


#block_text_desription p { 
    color: #282828;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 25px;
    padding: 3px 10px;
    text-align: justify;
    width: 280px;
}





/*-----------------------------------
  Butoon  download data
-------------------------------------*/
a.button {
    background: #282828;
    display: block;
    font-size: 21px;  
    font-weight: 100;
    font-family: 'AlternateGothicLTNo3Regular',Arial, sans-serif;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase; 
    text-align: center;
    width: 225px;  
    -moz-transition: all 0.3s ease-out;  /* FF4+ */
    -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
    transition: all 0.3s ease-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
    margin: 15px;
    font-weight: normal!important;
}

a.button:hover {
    background-color: #000;
}


/*-----------------------------------
Footer
-------------------------------------*/

#footer{
    background-color: #2B2E31;
    border-top: 5px solid #ddd;
    height : 150px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    padding-top: 80px;
    right: 0;
    top: 1150px;
    width: 100%; 
    z-index: 6;
}

#footer .center {
    background: #2B2E31;
    height: 40px;  
    left: 0;
    margin: 0 auto;
    position: absolute;
    top:0;  
    right: 0;
    width: 1100px;
    z-index: 99;
}

.center  a{
    margin-top: 7px;
    margin-left: 15px;
}

#footer .center .separator{
    background: url("../images/ftr-separator.png") no-repeat ;
    background-position:center;
    display: block;
    font-size: 0;
    margin-top: 5px;
    text-align: center;
}

#footer .center span{  
    float: left;
    margin-top: 25px;
}

#footer .center img{  
    float: right;
}

/*-----------------------------------
Block  for superposition, over the site
-------------------------------------*/

#tachitocontainer {
    text-align:center;
    padding-top:15px;
}


/******************************************/

.well{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 2px;
    padding:2px;
    text-align: center;
    width:auto;
}

#popover .modal-body {
    max-height: 800px;
}  
.contme ul.dropdown-menu{
    background-color: #ECECEC;
    display: block;    
}

.contme{
    background-color: #ECECEC;
    position: absolute;
    top:50px;
    right:220px;
    z-index: 999;
    display:block;
    -moz-box-shadow: 0 0 3px 3px #ddd;
    -webkit-box-shadow: 0 0 3px 3px#ddd;
    box-shadow: 0 0 3px 3px #ddd;
    opacity:0.9;

}


/***************stadistic*********************/
.draw{
    width:90%;
    height:auto;
}

/*.draw_area_obj_changeset{
 
 position:absolute;
 top:370px;
 left:0px; 
 width:100%;
 height:45%;
}


.draw_area{

 position:absolute;
 top:65px;
 left:0px; 
 width:100%;
 height:70%;
}*/


/******************************
Menu
*******************************/
.content_menu{
    background-color: #ECECEC;
    position: absolute;
    top: 55px;
    right:  2px;
    float: left;
    height: 600px; 
    width: 200px;
    -moz-box-shadow: 0 0 3px 3px #ddd;
    -webkit-box-shadow: 0 0 3px 3px#ddd;
    box-shadow: 0 0 3px 3px #ddd;   
    font-size:14px;
    z-index: 12; 

}

.content_menu ul.dropdown-menu{
    display: block;
    position: relative;
    top: 0px;
    border-color: #fff;
    width: 200px;
}

.content_menu .accordion-inner{
    padding: 9px 2px;
}
