<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/db_desechos</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>pwname</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>twitter.servlet.SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarsesion</servlet-name>
        <servlet-class>twitter.servlet.SCerrarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGetTwitter</servlet-name>
        <servlet-class>twitter.servlet.SGetTwitter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntosPendiente</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntosPendientes</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntosPendientes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarDate</servlet-name>
        <servlet-class>twitter.servlet.SListarDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SActualizar</servlet-name>
        <servlet-class>twitter.servlet.SActualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveData</servlet-name>
        <servlet-class>lab_refreshpages.SaveData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarEstadisticas</servlet-name>
        <servlet-class>twitter.servlet.SListarEstadisticas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntos</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarPunto</servlet-name>
        <servlet-class>twitter.servlet.SRegistrarPunto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarsesion</servlet-name>
        <url-pattern>/SCerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGetTwitter</servlet-name>
        <url-pattern>/SGetTwitter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarPuntosPendientes</servlet-name>
        <url-pattern>/SListarPuntosPendientes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarDate</servlet-name>
        <url-pattern>/SListarDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SActualizar</servlet-name>
        <url-pattern>/Servlet_Actualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveData</servlet-name>
        <url-pattern>/saveIt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarEstadisticas</servlet-name>
        <url-pattern>/SListarEstadisticas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarPuntos</servlet-name>
        <url-pattern>/SListarPuntos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarPunto</servlet-name>
        <url-pattern>/SRegistrarPunto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
