body {
  background-color: #fff;
  font: 14px/20px Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0; 
  }


/*-----------------------------------
  Typography
-------------------------------------*/

@font-face {
  font-family: 'AlternateGothicLTNo3Regular';
  src: url('../fonts/alternate_gothic-webfont.eot');
  src: url('../fonts/alternate_gothic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/alternate_gothic-webfont.woff') format('woff'),
    url('../fonts/alternate_gothic-webfont.ttf') format('truetype'),
    url('../fonts/alternate_gothic-webfont.svg#AlternateGothicLTNo3Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  }

h1,h2,h3,h4,h5 {
  font-family: 'AlternateGothicLTNo3Regular',Arial, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin: 0;
  color: #fff;
  }

.marker-popup h3{
    color: #000;
  }

h1 { font-size: 30px; line-height: 32px; margin: 0 0 5px; }
h2 { font-size: 30px; line-height: 32px; margin: 0 0 5px; }
h3 { font-size: 24px; line-height: 28px; margin: 10px 0; }
h4 { font-size: 20px; line-height: 24px; margin: 3px 0; }
h5 { font-size: 18px; line-height: 18px; margin: 10px 0; }
h6 { font-size: 14px; line-height: 18px; margin: 0 0 10px; }

a {
  color: #fff;
  text-decoration: none;
  }

/*-----------------------------------
  Masthead + Header
-------------------------------------*/
#masthead {
  background-color: #F5F5F5;
  height: 82px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index:2;
  }

#header {
  height: 42px;
  width: 100%;
  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
  -moz-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  -webkit-transition: top 0.5s ease;
  transition: top 0.5s ease;
  }

#header h1 {
  }

/*#header h1 span {
  color: #BA003F;
  }

#header h2 {
  color:#40404B;
  font-size: 20px;
  float: left;
  line-height: 42px;
  margin-left: 50px;  
  }*/

/*-----------------------------------
 Horizontal menu
-------------------------------------*/
/*
#menu_type_incident{
  background-image: url(../img/img-header.png);
  height: 40px;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 42px;
  z-index: 3;
  }

#ul_menu_type_incident{
  background-color: #292929;
  color: #fff;
  height: 40px;
  line-height: 40px;
  width: 960px;  
  }

#ul_menu_type_incident li { 
  display: block;
  float: left;
  }

#ul_menu_type_incident li a {
  background-color: #292929;
  color: #fff;
  display: block;
  height: 40px;
  width: 137.1px;
  transition-duration:1s;
  -moz-transition-duration:1s;
  -webkit-transition-duration:1s;
  -o-transition-duration:1s;
  }

#ul_menu_type_incident li a:hover {
  background-color: #bbb;
  color: #005C9C;
  font-weight: bold;
  }

#ul_menu_type_incident li a.active {
  background-color: #bbb;
  color: #005C9C;
  font-weight: bold;
  }*/

/*-----------------------------------
Map
-------------------------------------*/

#map {
  background-color: #2D2A2A;
  height: 640px;
  position:absolute; 
  top:80px; 
  width:100%; 
  }

/*-----------------------------------
loading gif
-------------------------------------*/
.loading {
  position: relative;
  }

.loading:after {
  background: url(../img/ajax-loader.gif) no-repeat;
  content: "Cargando...";
  color: #666;
  left: 50%;  
  height: 16px;
  line-height: 16px;
  margin-top: -8px;
  margin-left: -40px;
  position: absolute;
  font-size: 12px;
  top: 50%; 
  text-indent: 26px;
  width: 80px;
  }

#map.loading:after {
  background-color: #333;
  background-color: rgba(0,0,0,0.75);
  background-image: url(../img/ajax-loader-rev.gif);
  color: #fff;
  padding: 20px;
  background-position: 20px 50%;
  border-radius: 10px;
  z-index: 4;
  position: absolute;
  }

/*-----------------------------------
middle content
-------------------------------------*/

#middle_content {
  background-color: #fff;
  height : 500px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 725px;
  width: 1100px; 
  z-index: 5;
  }

#middle_content a {
  color: #005C9C;
  }

/*-----------------------------------
Block  for description  "Incidentes Delictivos en Ayacucho"
-------------------------------------*/
#block_text_desription {
  background-color: #ECECEC;
  float: left;
  height: 500px; 
  width: 300px;
   -moz-box-shadow: 0 0 3px 3px #ddd;
  -webkit-box-shadow: 0 0 3px 3px#ddd;
  box-shadow: 0 0 3px 3px #ddd;
  }

#block_text_desription h3 {
  color: #005C9C;
  margin: 5px 3px 3px 3px;
  }


#block_text_desription p { 
  color: #282828;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 25px;
  padding: 3px 10px;
  text-align: justify;
  width: 280px;
  }




/*-----------------------------------
  butoon for toltip
-------------------------------------*/
/*

a.button {
  background: #282828;
  display: block;
  font-size: 21px;  
  font-weight: 100;
  font-family: 'AlternateGothicLTNo3Regular',Arial, sans-serif;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase; 
  text-align: center;
  width: 195px;  
  -moz-transition: all 0.3s ease-out;  
  -o-transition: all 0.3s ease-out;  
  -webkit-transition: all 0.3s ease-out;  
  transition: all 0.3s ease-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
  margin-top: 15px;
  font-weight: normal!important;
  }


a.button:hover {
  background-color: #000;
  }
*/


/*-----------------------------------
footer
-------------------------------------*/

#footer{
  background-color: #2B2E31;
  border-top: 5px solid #ddd;
  height : 150px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  padding-top: 80px;
  right: 0;
  top: 1150px;
  width: 100%; 
  z-index: 6;
  }

#footer .center {
  background: #2B2E31;
  height: 40px;  
  left: 0;
  margin: 0 auto;
  position: absolute;
  top:0;  
  right: 0;
  width: 1100px;
  z-index: 99;
  }

.center  a{
  margin-top: 7px;
  margin-left: 15px;
  }

#footer .center .separator{
  background: url("../img/ftr-separator.png") no-repeat ;
  background-position:center;
  display: block;
  font-size: 0;
  margin-top: 5px;
  text-align: center;
  }

#footer .center span{  
  float: left;
  margin-top: 25px;
  }

#footer .center img{  
  float: right;
  }


.popover_overdetail {
  padding: 10px 20px;
  text-align: justify;
  overflow: auto;
  overflow-x: hidden;
  -moz-border-radius:    3px;
  -webkit-border-radius: 3px;
  border-radius:         3px;
  -moz-box-shadow:    0px 1px 10px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
  box-shadow:         0px 1px 10px rgba(0,0,0,0.5);
  background: #ff0000;
  display: none;
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0; 
  z-index: 21;
  width: 70%;
  height: 70%;
  }




/*-----------------------------------
CLOSE
-------------------------------------*/
#close {
  display: none;
  position: fixed;
  width: 30px;
  height: 25px;
  top: 10px;
  margin-top: -10px;
  right: 2.5%;
  margin-left: 255px;
  border: none;
  background: #333;
  border-radius: 15px;
  -moz-box-shadow:    0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow:         0 0 3px #000;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  padding-top: 5px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
  z-index: 12;
  }

#close:hover { background: #444; }


#close_overdetail {
  display: none;
  position: fixed;
  width: 30px;
  height: 25px;
  top: 100px;
  margin-top: -10px;
  right: 10%;
  margin-left: 255px;
  border: none;
  background: #333;
  border-radius: 15px;
  -moz-box-shadow:    0 0 3px #000;
  -webkit-box-shadow: 0 0 3px #000;
  box-shadow:         0 0 3px #000;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  padding-top: 5px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
  z-index: 22;
  }

#close_overdetail:hover { background: #444; }

#backdrop {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #333;
  opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 10;
  }

#backdrop_overdetail {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #000;
  opacity: 0.8;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  z-index: 20;

  /* transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;*/
  }



input.fetching {
  background: lightgrey;
}

#last-selection {
  font-size: 10px;
  color: green;
}

p.warning {
  color: red;
}

.group h3{
  color: #ff0000;
}

.result {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}
/*
.better-autocomplete {
  text-align: left;
  font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
  overflow: auto;
  cursor: default;
  background: white;
  border-bottom: 1px solid #bfbfbf;
}



.group {
  position: relative;
  padding: 0px;
  text-align: center;
  background: #0000ff;
  border-color: #bfbfbf;
  border-width: 1px 1px 0 1px;
  border-style: solid;
}*/









/**********************************************/
/*
.better-autocomplete,
.result {
  list-style: none;
  padding: 0;
  margin: 0;
  background: none;
}

.better-autocomplete {
  text-align: left;
  font-family: 'Lucida Grande', Helvetica, Arial, Verdana, sans-serif;
  overflow: auto;
  cursor: default;
  background: white;
  border-bottom: 1px solid #bfbfbf;
}*/

/* Groups */

.group {
  position: relative;
  padding: 0px;
  text-align: center;
  background: #e7e7e7;
  border-color: #bfbfbf;
  border-width: 1px 1px 0 1px;
  border-style: solid;
}

.group > h3 {
  font-size: 11px;
  color: #555;
  padding: 0;
  margin: 0;
}

/* Results */

.result {
  position: relative;
  padding: 5px 7px;
  background: white;
  border-color: #bfbfbf;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  
}

.result > h4 {
  font-size: 12px;
  color: #3c3c3c;
  padding: 0;
  margin: 0 0 2px 0;
}

.result > p {
  font-size: 11px;
  line-height: 1.3;
  color: #6f6f6f;
  padding: 0;
  margin: 0;
}

/* Highlighting */

.result.highlight {
  background: #0075ba;
  border-top-color: #1f4a64;

}

.result.highlight > h4,
.result.highlight > p {
  color: white;
}



.menu-container{
  position: absolute;
  top: 40px;
  z-index: 9;
  width: 100%;
  text-align: center; 
  font-family: Arial;
  font-size: 12px;
}
.menu-container nav li:hover{
  background: #333;

}

i[class*="icon"] {
  margin-right:10px;
  line-height: 15;
}
i {
  position: relative;
  bottom: 2px;
}

/****boostrap*/
  
.navbar-search{

    height: 30px;
}
  
.navbar-search .search-query {
    padding-left: 29px !important;
}

.navbar-search .icon-search {
    position: absolute;
    top: 7px;
    left: 11px;
    background-image: url("http://twitter.github.com/bootstrap/assets/img/glyphicons-halflings.png");
}

.navbar-search input[type="text"]{
    height: 30px;
  }
  
/*
Mapbox
======
*/
.marker-popup{
width:260px;
box-shadow: 0 30px 20px -3px #666;
/*border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 6px 6px 6px 6px;    */
}

.popover-geo-title{

    border-bottom: 1px solid #EBEBEB;
    border-radius: 5px 5px 0 0;

   
}




.box_toltip{

    position:absolute;
  top:40px;
  z-index: 999999999;
  left:40px;
  right:0;
padding:3px;

width:auto;
height:auto;
background:#fff;
position:relative;
top:5px;
  
}

.well-toltip{
  text-align: center;
  clear: both;
  -webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
  background-color:#F5F5F5;
  border:1px solid #E3E3E3;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
  padding:5px;
  height:120px;  
}



/*-----------------------------------
  butoon for toltip
-------------------------------------*/


a.button_toltip {

  background: #282828;
  color:#fff;
  display: block;
  text-decoration: none;
  font-family: 'AlternateGothicLTNo3Regular',Arial, sans-serif;
  height: auto;
  text-align: center;
  width: 80px;  
  -moz-transition: all 0.3s ease-out;  
  -o-transition: all 0.3s ease-out;  
  -webkit-transition: all 0.3s ease-out;  
  transition: all 0.3s ease-out;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 3px 0px rgba(0,0,0,0.25);
  margin-top: 5px;
  font-weight: normal!important;
  }


a.button_toltip:hover {
  background-color: #000;
  color:#005580;
  text-decoration: none;
  }


.marker-popup {
  /*position:relative;
  left:-50%;
  max-width:400px;
  background:#fff;
  border:2px solid #ccc;
  color:#000;*/
 /* padding-top: 50px;*/
 /* padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  -webkit-user-select:auto;
     -moz-user-select:auto;
          user-select:auto;
  -webkit-box-shadow: 2px 2px 5px -2px #ccc;
          box-shadow: 2px 2px 5px -2px #ccc;
  -webkit-border-radius:3px;
          border-radius:3px;*/
  }