<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>driver</param-name>
        <param-value>org.postgresql.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:postgresql://localhost:5432/db_desechos</param-value>
    </context-param>
    <context-param>
        <param-name>username</param-name>
        <param-value>postgres</param-value>
    </context-param>
    <context-param>
        <param-name>pwname</param-name>
        <param-value>1234</param-value>
    </context-param>
    <servlet>
        <servlet-name>SRegistrarRecurso</servlet-name>
        <servlet-class>twitter.servlet.SRegistrarRecurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SSubirimg</servlet-name>
        <servlet-class>tur.servlet.SSubirimg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarRecurso</servlet-name>
        <servlet-class>twitter.servlet.SListarRecurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarHotel</servlet-name>
        <servlet-class>twitter.servlet.SRegistrarHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarHotel</servlet-name>
        <servlet-class>twitter.servlet.SListarHotel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarRecurso2</servlet-name>
        <servlet-class>tur.servlet.SListarRecurso2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarRestaurant</servlet-name>
        <servlet-class>twitter.servlet.SRegistrarRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarRestaurant</servlet-name>
        <servlet-class>twitter.servlet.SListarRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarTransporte</servlet-name>
        <servlet-class>twitter.servlet.SRegistrarTransporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarTransporte</servlet-name>
        <servlet-class>twitter.servlet.SListarTransporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SRegistrarComplementario</servlet-name>
        <servlet-class>twitter.servlet.SRegistrarComplementario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarComplementario</servlet-name>
        <servlet-class>twitter.servlet.SListarComplementario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SLogin</servlet-name>
        <servlet-class>twitter.servlet.SLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SCerrarsesion</servlet-name>
        <servlet-class>twitter.servlet.SCerrarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarProducto</servlet-name>
        <servlet-class>twitter.servlet.SListarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListar</servlet-name>
        <servlet-class>twitter.servlet.SListar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarServicio</servlet-name>
        <servlet-class>twitter.servlet.SListarServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SGetTwitter</servlet-name>
        <servlet-class>twitter.servlet.SGetTwitter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntosPendiente</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SListarPuntosPendientes</servlet-name>
        <servlet-class>twitter.servlet.SListarPuntosPendientes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SRegistrarRecurso</servlet-name>
        <url-pattern>/SRegistrarRecurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarRecurso</servlet-name>
        <url-pattern>/SListarRecurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarHotel</servlet-name>
        <url-pattern>/SRegistrarHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarHotel</servlet-name>
        <url-pattern>/SListarHotel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarRecurso2</servlet-name>
        <url-pattern>/SListarRecurso2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarRestaurant</servlet-name>
        <url-pattern>/SRegistrarRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarRestaurant</servlet-name>
        <url-pattern>/SListarRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarTransporte</servlet-name>
        <url-pattern>/SRegistrarTransporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarTransporte</servlet-name>
        <url-pattern>/SListarTransporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SRegistrarComplementario</servlet-name>
        <url-pattern>/SRegistrarComplementario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarComplementario</servlet-name>
        <url-pattern>/SListarComplementario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SLogin</servlet-name>
        <url-pattern>/SLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SCerrarsesion</servlet-name>
        <url-pattern>/SCerrarsesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarProducto</servlet-name>
        <url-pattern>/SListarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListar</servlet-name>
        <url-pattern>/SListar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarServicio</servlet-name>
        <url-pattern>/SListarServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SGetTwitter</servlet-name>
        <url-pattern>/SGetTwitter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarPuntosPendiente</servlet-name>
        <url-pattern>/SListarPuntos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SListarPuntosPendientes</servlet-name>
        <url-pattern>/SListarPuntosPendientes</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
